/* Setup Page Padding/Margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* White Background */
body {
    background-color: #d9dcd6;
}

/* Header (Company Logo and Navigation) */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Company Name Text (Consolidated) */
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

/* Header Dimensions */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Navigation Formatting, Spacing, and Color */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Article Content Font Formatting */
p {
    font-size: 24px;
    font-family: "Verdana";
}

/* Hero Image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Utility: .float-left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Utility: .float-right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Content Width and Display Type */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Right Sidebar Margins, Formatting, and Color */
.benefits {
    margin: 10px 50px 0 0;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated Margins for Benefits Sidebar */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated Margins and Alignment for Benefits Titles */
.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
}

/* Consolidated Margins/Width for Benefits Images */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 300px;
}

/* Consolidated Margins, Text, and Colors for Main Content */
.content div {
    margin: 10px 0 20px 20px;
    padding: 50px;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated Content Images Formatting */
.content img {
    display: inline-block;
    max-height: 400px;
    margin: 0 20px 0 0;
}

/* Consolidated Margins/Font Size for Article Headers */
.content h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Helvetica";
    font-weight: bold;
}

/* Footer Formatting/Text */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer Header Font Size */
.footer h2 {
    font-size: 20px;
}
